* {
    box-sizing: border-box;
    margin: 0;
    margin: 0;
}

body {
    text-align: center;
    background-color: darkslateblue;
}

#titulo {
    margin: 25px;
    font-size: 50px;
}

.jogo {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    margin: auto;
    background-color: deepskyblue;
    overflow: hidden;
}

.par_de_barreiras {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 120px;
    position: relative;

}

.corpo {
    width: 100px;
    background-color: greenyellow;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: auto;
    position: relative;
}

.tampa {
    width: 120px;
    height: 40px;
    background-color: greenyellow;
    border: 2px solid black;
}

.passaro {
    height: 60px;
    width: 60px;
    position: absolute;
    top: calc(50% - 30px);
    left: 30%;
}

.passaro img {
    width: 100%;
    height: 100%;
}